body{
    background-image: url(cloud.jpg);
    background-size: cover;
}
.box1{
display: flex;
justify-content: center;
padding-top: 10%;
height: 100%;

}

.box2{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
    flex-direction: column;
    border-radius: 10px;
    background-image: url(clod.jpg);
    background-size: cover;
  
}

input{
    width: 300px;
    height: 45px;
    
    border-radius: 10px;
}

button{
    background-color: azure;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

button:hover{
    border: 2px solid black;
    
}

input:hover{
    border: 2px solid burlywood;
    font-size: large;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

a:hover{
    border: 2px black ;
}

